[build-system]
requires = [
    "setuptools >= 51.1.2",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 80
skip-string-normalization = true
target-version = ['py36']

[tool.pytest.ini_options]
addopts = "-vv"
testpaths = ["tests"]
